/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: flex-start; /* Alignement par défaut des blocs */
    gap: 20px; /* Espacement entre les blocs */
    margin-bottom: 20px;
}

.center-block {
    margin: 0 auto; /* Centrer le bloc */
}

.block {
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative; /* Positionné pour que les boutons puissent être en position absolue */
}

.block select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.block p {
    margin: 5px 0;
    font-size: 14px; /* Réduire la taille du texte */
    overflow: hidden;
    text-overflow: ellipsis; /* Empêcher le débordement du texte */
    white-space: nowrap;
}

button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

button.add-block-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: #4CAF50;
}

button:hover {
    opacity: 0.8;
}

/* Styles pour les lignes */
.third-row {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.second-row {
    justify-content: space-between; /* Première à gauche et deuxième à droite */
}

