body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer verticalement les blocs dans chaque ligne */
    margin-bottom: 20px;
}

.row.second-row {
    justify-content: space-between;
    width: 100%;
}

.block {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: left; /* Aligner le texte à gauche à l'intérieur du bloc */
}

.block p {
    margin: 5px 0;
}

.block .name {
    font-weight: bold;
}

.block .poste {
    font-style: italic;
}
